<template name='listFillups'>
    <table class="table is-bordered is-striped is-narrow">
        <thead>
            <tr>
                <th>Miles</th>
                <th>Gallons</th>
                <th>Price</th>
                <th>Added on</th>
            </tr>
        </thead>
        <!-- <tfoot>
            <tr>
                <th><abbr title="Position">Pos</abbr></th>
            </tr>
        </tfoot> -->
        <tbody>
            {{#each fillups}}
            <tr>
                <th>{{miles}}</th>
                <td>{{gallons}}</td>
                <td>{{price}}</td>
                <td>{{ getDateTime createdAt}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</template>