<template name='listVehicle'>
    {{#each vehicles}}
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-primary">
                        <p class="title">Vehicle Name</p>
                        <p class="subtitle">{{name}}</p>
                    </article>
                    <article class="tile is-child notification is-warning">
                        <p class="title">Miles</p>
                        <p class="subtitle">{{miles}}</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification is-info">
                        <p class="title">VIN</p>
                        <p class="subtitle">{{vin}}</p>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-danger">
                    <p class="title">Created On</p>
                    <p class="subtitle">{{formatDate createdAt}}</p>
                    <div class="content">
                        <!-- Content -->
                    </div>
                </article>
            </div>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child notification is-success">
                <div class="content">
                    <p class="title">De-Register ??</p>
                    <p class="subtitle">Please click <a href="" class="button is-danger is-outlined vehicle-deregister">Here</a> to remove this
                        vehicle
                    </p>
                    <div class="content">
                        <p class="h2">Please click <a href="" class="button is-warning is-outlined fillup-add">Here</a> to add
                            your fillup
                        </p>

                    </div>
                </div>
            </article>
        </div>
    </div>
    {{/each}}
</template>