<template name='navbar'>
    <nav class="navbar  animated slideInDown ">
        <div class="navbar-brand">
            <a class="navbar-item" href="http://idealtechnosoft.com">
                <!-- <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28"> -->
                ITS-Miles
            </a>


            <div class="navbar-burger burger" data-target="navMenuExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navMenuExample" class="navbar-menu ">
            <div class="navbar-start">

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link  is-active" href="#">
          Formats
        </a>
                    <div class="navbar-dropdown ">
                        <a class="navbar-item charts2 " href="#">
            <i class="fa fa-table"></i> Table <span class="tag is-white"><icon class='fa fa-star'></icon></span>

          </a>
                        <a class="navbar-item charts" href="#">
            <i class="fa fa-bar-chart"></i> Chart
          </a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link  is-active is-primary" href="#">
          Login With
        </a>
                    <div class="navbar-dropdown ">
                        <a class="navbar-item " href="#" data-social-login='loginWithTwitter'>
            <i class="fa fa-twitter"></i> Twitter
          </a>
                        <a class="navbar-item is-active" href="#" data-social-login='loginWithFacebook'>
            <i class="fa fa-facebook"></i> Facebook
          </a>
                        <a class="navbar-item " href="#" data-social-login='loginWithGithub'>
            <i class="fa fa-github"></i> Github
          </a>
                        <a class="navbar-item " href="#" data-social-login='loginWithGoogle'>
            <i class="fa fa-google"></i> Google
          </a>
                        <!--<a class="navbar-item " href="#" data-social-login='loginWithEmail'>
            <i class="fa fa-envelope"></i> Email
          </a>-->

                    </div>
                </div>

            </div>

            <div class="navbar-end">

                <div class="navbar-item">
                    <div class="field is-grouped">
                        {{#if currentUser}}
                        <p class="control" action='logout'>
                            <a class="button is-danger" href="#">
              <span class="icon">
                <i class="fa fa-sign-out"></i>
              </span>
              <span>Logout</span>
            </a>
                        </p>
        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </nav>
</template>