<template name='content'>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        {{#if currentUser}} Hello {{getScreenName}} {{/if}}
      </p>
      <!--<a class="card-header-icon">
      <span class="icon">
        <i class="fa fa-angle-down"></i>
      </span>
    </a>-->
    </header>
    <div class="card-content">
      <div class="content">
        {{#if currentUser}} {{> addVehicle}} {{else}}
        <div class="notification is-warning">
          Please <strong>login</strong> to proceed !!
        </div>
        {{/if}}

      </div>
    </div>
  </div>
</template>